{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRite4U</title>
    <link rel="stylesheet" href="{% static '/css/user_profile.css' %}">
</head>
<body>
    <!-- <div class="header">
        <h1>VRite4U</h1>
        <img src = "../images/user_icon.png" alt = "user_icon">
    </div>  -->
    <section id="content">
        <div id="about-us">
            <h3><em>About Us</em></h3>
            <p>VRite4U is an online tool that helps you to write error-free and creative essays. The tool analyses the theme of your essays and gives relevant suggestions like links to refer and keywords related to topic. Get rid of grammar errors and an easy lookup for synonyms. Provides cloud-based storage for your documents. It is an one-stop solution that provides you all the help that is required for a good documentation.</p>
            <ul id="l1">
                <li>Context Analysis</li>
                <li>Reference links suggestions</li>
                <li>Related Keywords suggestions</li>
                <li>Spell / Grammar Check check</li>
                <li>Easy lookup on Thesaurus.</li>
                <li>Cloud-based Storage.</li>
            </ul>
           
        </div>
        <div id="logo-title">
            <h1>VRite4U</h1>
            <img src="{% static '/images/logo.png' %}">

        </div>
    </section>
</body>
</html>